version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: relational-db-course-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: appsecret
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
